*.pyc
*.pyo
.project
.pydevproject
.settings/
.settings/org.eclipse.core.resources.prefs
.installed.cfg
*.egg-info
bin
develop-eggs
dist
downloads
eggs
parts
src/*.egg-info
build
celerybeat-schedule
celerybeat.pid
.externalToolBuilders.idea
.idea
celerybeat-schedule
/marketing.sublime-project
/marketing.sublime-workspace
/.codeintel
/.ropeproject
.*.swp
